body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  min-height: 350px;
  background-color: pink;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(/assets/banner.jpg);
  background-size: cover;
}

footer {
  min-height: 100px;
  background-color: #eaecee70;
  color: #929eaa;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  font-size: 14px;
}

.avatar {
  width: 150px;
  height: 150px;
  background-color: white;
  border-radius: 50%;
  background: url(/assets/kathy.png);
  background-size: cover;
}

.main {
  display: flex;
  justify-content: center;
}
.main .navigation {
  display: flex;
  justify-content: flex-start;
}

.navigation a {
  text-decoration: none;
}
.navigation a:hover {
  text-decoration: none;
  color: white;
}
.nav-button.new-post-button {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  font-size: 24px;
  color: white;
  position: fixed;
  right: 30px;
  bottom: 30px;
  background-color: #004186;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.25s ease;
}
.nav-button.new-post-button:hover {
  background-color: #002349;
}

.post {
  display: flex;
  border: 1px solid #eaecee;
  border-radius: 8px;
  min-height: 200px;
  overflow: hidden;
  transition: all 0.25s ease;
  cursor: pointer;
}

.post:hover {
  transform: translate3d(0, -5px, 0);
  box-shadow: 0 2rem 5rem 0 rgba(0, 0, 0, 0.1);
}
.post-content {
  flex-basis: 60%;
}

.post-date {
  font-size: 12px;
  font-weight: 600;
  color: #adb5bd;
}

.post-link {
  text-decoration: none;
}

.post-title {
  font-size: 1.5em;
  font-weight: 600;
}

.post-text {
  color: #495057;
  line-height: 1.4;
  font-weight: 400;
  max-height: 65px;
  overflow: hidden;
}
.post-img {
  flex-basis: 40%;
  background-image: url("https://images.unsplash.com/photo-1515378791036-0648a3ef77b2?ixid=MnwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1500&q=80");
  background-size: cover;
  background-position: center;
}
.profile-name {
  font-size: 3em;
  font-weight: bold;
}
